<nav class="header sticky">
  <div class="header__logo">
    <img class="logo" src="./assets/Logo.svg" alt="Good Pizza Club logo">
  </div>
  <div class="header__navigation menu">
    <ul class="header__navigation-container">
      <li class="item"><a routerLink="/menu" routerLinkActive="active-route">Menu</a></li>
      <li class="item"><a routerLink="/about-us" routerLinkActive="active-route">About Us</a></li>
      <li class="item"><a routerLink="/contact" routerLinkActive="active-route">Contact</a></li>
      <li class="item"><a routerLink="/" routerLinkActive="active-route">Login / Sign up</a></li>
      <li class="item"><a routerLink="/help" routerLinkActive="active-route">Help</a></li>
      <li class="item">
        <a routerLink="/cart">
          <img src="./assets/cart.svg" alt="">
        </a>
      </li>
    </ul>
  </div>
</nav>
