// reset styles of all elements to a baseline value to avoid cross-browser differences
* {
  font-family: "Rowdies", cursive;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}

h2 {
  font-size: 80px;
  line-height: 99px;
}

h3 {
  font-size: 40px;
  line-height: 50px;
}
